@{
    ViewData["Title"] = "About Me";
}
<div class="text-center">
    <h1 class="display-4">About me</h1>
</div>
<br />
<br />
<div class="container">  
<p id="Info">
        My name is Alexander Forsberg and im 30 years old.
        I like to go to the gym and spend time with friends,
        a big interest of mine is music it plays a big part of my life.
        Previously i havent worked anything with programming but lately it has grown to a big interest of mine.
        Therefore i hope to get a job as a full-stack developer in the future.
    </p></div>

