@{
    ViewData["Title"] = "Classes";
}

<div class="text-center">
    <h1 class="display-4">Classes i have done</h1>
</div>
<br />
<br />
<div>
    <h2><bold>Done</bold></h2>
    <ul>
        <li>Programming techniques C#</li>
        <li>Databases with SQL</li>
        <li>Basics in Javascript</li>
        <li>Webdevelopment in frontend</li>
        <li>Data Access in .NET</li>
        <li>Webdevelopment backend</li>
    </ul>
</div>
<div>
    <h3><bold>To Do</bold></h3>
    <ul>
        <li>Development in Windows cloud services</li>
        <li>Project, organization and business acumen</li>
        <li>Internship 1</li>
        <li>Internship 2</li>
        <li>Development with the framework in .NET</li>
        <li>Master thesis</li>
    </ul>
</div>
