@{
    ViewData["Title"] = "My Experience";
}
<div class="text-center" >
<h1 class="display-4">My Experiences</h1>
<br />
<br />
<p>Here is my Experiences. Since i dont have much experience in programming i show you what i have worked with in the past!</p>
</div>

<h2><bold>My Jobs</bold></h2>
<ul>
    <li>Jun. 2010 – Nov. 2011:  	Kassabiträde på ICA Maxi Stormarknad, Sandviken </li>
    <li>Nov. 2011 – Dec. 2012:  	CNC-Opperatör på BIAB Metallbearbetning, Åshammar  </li>
    <li>Apr. 2013 – Jun. 2014:      TM-Säljare på Vendator Callcenter, Hofors  </li>
    <li>Jun. 2014 – Dec. 2014 	    TM-Säljare på McPhone Telefonia, Malaga Spanien  </li>
    <li>Aug. 2015 - Nov. 2015       TM-Säljare på Telekusten, Fuengirola Spanien </li>
    <li>Nov. 2015 - Apr. 2016       TM-Säljare på Vendator Callcenter, Hofors </li>
    <li>Apr. 2016 - Mar. 2017       Säljare på IF Skadeförsäkring, Gävle </li>
    <li>Jun. 2017 - Jun. 2018 	 	Vårdpersonal på Hesselgrenska, Hofors </li>
    <li>Jun. 2018 - Maj. 2021  	    Personlig assistent LSS, Hofors </li>
    <li>Maj. 2021 - Nu  	        Boendestödjare, Gävle Kommun</li>
</ul>