@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to my website</h1>
 </div>
 <br />
<br />
<div class="container">
    <p  id="Info">Here is a website with a bit of info about what i have worked with and what i have done in school</a>.</p>
</div>
